body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta Mahee', sans-serif;
    background-color: #eceff1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo{
 margin: .8rem;
}

.about-me{
    padding:4% 0 3% 0;
}

h1, h3, h4 {
    
    color: #00838f;
    font-weight: bold;
    font-size: 2rem;
}
p{
    text-align: justify;
    margin: 1rem;
}
.txt-datos {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 2rem;
    text-align: center;
}

.txt-presentacion {
    margin: 1rem 2.5rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.card-title-2{
    color: #00838f;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    margin-left: 1rem;
}

.padd-2 {
    padding-bottom: 2rem;
}

.habilidades {
    text-align: center;
    padding-bottom: 1.5rem;
}

.container-habilidades {
    padding: 2rem;
    /* display: contents; */
}

.habilidades-tec {
    width: 60px;
    padding: .5rem;
}


.contacto {
    font-family: 'Mukta Mahee', sans-serif;
    margin: 2.5rem 2rem;
   
}

.contacto-img {
    width: 40px;
    margin: .5rem;
}
