body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta Mahee', sans-serif;
    background-color: #eceff1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo{
 margin: .8rem;
}

.about-me{
    padding:4% 0 3% 0;
}

h1, h3, h4 {
    
    color: #00838f;
    font-weight: bold;
    font-size: 2rem;
}
p{
    text-align: justify;
    margin: 1rem;
}
.txt-datos {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 2rem;
    text-align: center;
}

.txt-presentacion {
    margin: 1rem 2.5rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
}

.padd-2 {
    padding-bottom: 2rem;
}

.habilidades {
    text-align: center;
    padding-bottom: 1.5rem;
}

.container-habilidades {
    padding: 2rem;
    display: contents;
}

.habilidades-tec {
    width: 70px;
    margin: 1rem;
}

.hab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hab ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

 ul li p{
     text-align: center;
 }

 .skill{
     margin-top: -0.2rem;
     font-weight: 500;
 }

.contacto {
    font-family: 'Mukta Mahee', sans-serif;
    margin: 2.5rem 2rem;
   
}

.contacto-img {
    width: 40px;
    margin: .5rem;
}

/**/

.images-proyects{
    margin: 7% 5% 5% 5%;
    width: 80%;
    
}

h2{
    color: #00838f;
    font-weight: bold;
    font-size: 1.2rem ;
    background-color: white;
    margin: 10% 20%;
}
.card-title-blue{
    color: #00838f;
    font-weight: bold;
    font-size: 1.2rem ;
    max-width: 100%;
   
}
.card-content {
    min-height: 396px;
}

.txt-descripcion {
    margin-top: 1rem !important;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
}

.txt-list{
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.card-action{
    display: flex;
    justify-content: space-between;
}

.title-skills {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
    color: white;
}
 .skill-soft {
    font-size: 1.1rem;
    font-weight: 500;
    list-style-type: circle;
 
}
.habilidades-soft {
    width: 90px;
    margin: 1rem;
}

@media (max-width: 600px) { 
    .card-content {
        min-height: 0;
    }
}