body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*header nav*/

header {
    background: #802D4A;
    color: #ebebd3;
    padding: 2em 0;
    position: relative;
    font-family: 'Mukta Mahee', sans-serif;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.items-nav {
    top: 100%;
    right: 0;
    position: absolute;
    background: #6c6969;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 600ms;
}

.items-nav-open {
    clip-path: circle(150% at top right);
}

.items-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.items-nav li {
    border-bottom: 1px solid #4D1B2C;
}

.items-nav li:last-child {
    border-bottom: none;
}

.items-nav a {
    color: white;
    display: block;
    padding: 1.5em 4em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.items-nav a:hover,
.items-nav a:focus {
    background: #802D4A;
    color: white;
}


/*menu hamburguesa*/

.menu-toggle {
    position: absolute;
    right: 1em;
    height: 2em;
}

.menu-open .hamburger {
    transform: rotate(45deg);
}

.menu-open .hamburger::before {
    opacity: 0;
}

.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: white;
    height: 3px;
    width: 2em;
    border-radius: 3px;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

@media (min-width:700px) {
    .menu-toggle {
        display: none;
    }
    .items-nav {
        height: auto;
        position: relative;
        background: transparent;
        text-align: center;
        clip-path: initial;
    }
    .items-nav li {
        display: inline-block;
        border: none;
    }
    .items-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .items-nav a:hover,
    .items-nav a:focus {
        background: transparent;
    }
}

.home {
    background: url(img/home-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.cuadro {
    background-color: rgba(77, 27, 44, 0.19);
    margin: 10%;
    padding: 2rem;
    text-align: center;
    width: -webkit-fill-available;
}

h1 {
    font-family: 'Mukta Mahee', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.presentacion {
    font-family: 'Mukta Mahee', sans-serif;
    overflow: auto;
}

.datos-gral {
    background: #302f2f;
    overflow: auto;
    text-align: center;
}

.txt-datos {
    font-size: 1.3rem;
    line-height: 2rem;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 2rem;
}

.perfil {
    background: rgba(128, 45, 74, 0.35);
    overflow: auto;
}

.txt-titulo {
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
}

.white {
    color: white;
}

.txt-presentacion {
    margin: 1rem 2.5rem;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6rem;
}


/*proyectos*/

.center {
    text-align: center;
}

.proyectos {
    background: #302f2f;
    overflow: auto;
    font-family: 'Mukta Mahee', sans-serif;
}

.cards-container {
    display: inline;
}

.card {
    /*position: absolute;*/
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(0%, -50%);*/
    /*width: 100%;
    /*width: 360px;
    height: 360px;*/
    background: #1a1a1a;
    margin: 10%;
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .image img {
    width: 100%;
    transition: .5s;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}

.fa-facebook-square {
    color: black;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #802D4A;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    display: flex;
    align-items: center;
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details .center h4 {
    margin: 0;
    padding: 0;
    color: #802D4A;
    line-height: 10px;
}

ul {
    list-style: none;
}

p {
    font-size: .8rem;
    text-align: initial;
    line-height: 1rem;
}

.contacto {
    font-family: 'Mukta Mahee', sans-serif;
    overflow: auto;
    background: #802D4A;
}

.links {
    display: inline;
}

.contacto-img {
    width: 50px;
    color: white;
}