body{
    box-sizing: border-box;
    margin:0;
    padding:0;  
}

nav{
    position: fixed;
    background-color: #802D4A;  
    z-index: 1000;
    width:-webkit-fill-available;
}

header{
    background-color: #802D4A;
    display: flex;
    justify-content: space-around;
    text-align: center; 
}

.nav-ul{
    list-style: none; 
}
   
.nav-ul li{
    display: inline-block;
    padding:2px 10px;    
}

li, a {
    font-family: 'Pridi', serif;
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
    text-decoration: none; 
    
}

.home{
    display: flex;
    
}
.home{
    background: url(img/home-fondo.jpg);
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.cuadro{
    background-color:rgba(77, 27, 44, 0.19);
    margin: 10%;
    padding: 0 2rem;
    text-align: center;
    z-index: 500;
    width: -webkit-fill-available;
   
}

.Hi{
    font-family: 'Pridi', serif;
    font-size: 3rem;
    color: white;
}

.about{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  rgba(149, 97, 115, 0.50);
    padding: 0 2rem;
    
}

.circulo{
    width: 150px;
    height: 150px;
    margin: 5% 10% 5% 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4D1B2C;
    border: 50px solid #805362;

}

.perfil{
   
    padding: 0rem, 1rem;
}
.nombre{

    font-family: 'Pridi', serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: -.5rem;
    color: white;
}

.descripción{
    font-family: 'Pridi', serif;
    font-size: 1rem;
    text-align: justify;
   
}
.titulo2{
    text-align: center;
    font-family: 'Pridi', serif;
    font-size: 1rem; 
}
.container-proyectos{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.A{
    width: 200px;
    border:solid 1px #4D1B2C;
}
.c1{
    background-color: #956173;
    width: 200px;
    height: 200px;
}
.c2{
    background-color: 
    width: 200px;
    height: 200px;
}